/* base classes */
:root{
    --primary-color:  rgb(71, 17, 71); 
    --secondary-color: rgb(133, 4, 255);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

.view-scores{
    margin: 20px 40px;
    color: var(--secondary-color);
}

.view-scores:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.time-remaining{
    margin: 20px 40px;
}

main{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.initial-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-block{
    width: 600px;
}

.block-item{
    margin: 10px;
    text-align: center;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border-radius: 5px;
    padding: 6px 30px;
    font:inherit;
}

.btn:hover{
    background-color: var(--secondary-color);
}


/* dynamically generated classes */
.button-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px 0;
}

.status-box{
    margin-top: 20px;
    border-top: 2px solid lightgray;
    color: var(--secondary-color);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.initial-input{
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    height: 100%;
}

.hs-odd{
    padding: 4px;
    width: 100%;
    background-color: lightgray;
}

.hs-even{
    padding: 4px;
    width: 100%;
    background-color: var(--secondary-color);
}


