:root{
    --primary-color:  rgb(71, 17, 71); 
    --secondary-color: rgb(133, 4, 255);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}

.view-scores{
    margin: 20px 40px;
    color: var(--secondary-color);
}

.time-remaining{
    margin: 20px 40px;
}

main{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
}

.quiz-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}


.block-item{
    margin: 10px;
}


.btn{
    background-color: var(--primary-color);
    color: white;
    outline: none;
    border-radius: 5px;
    padding: 6px 30px;
    font:inherit;
}

.btn:hover{
    background-color: var(--secondary-color);
}
